name: Docker Image builds

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:

  build-3_12:
    uses: ./.github/workflows/docker.yml
    secrets: inherit
    with:
      version: '3.12'

  build-3_13:
    uses: ./.github/workflows/docker.yml
    secrets: inherit
    with:
      version: '3.13'

  build-3_14:
    uses: ./.github/workflows/docker.yml
    secrets: inherit
    with:
      version: '3.14'
